@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* RESET */
html,body,div,span,h1,h2,pre,a,address,img,strong,ul,li,article,small,footer,header,hgroup,nav,section{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Main Style */
body{
	color: #fff;
	font: 16px 'Open Sans', sans-serif;
}
h3, h4{
	font-weight: normal;
}
.to-right{
	float: right;
}
.header {
	background: #00aeef;
	padding: 10px 10px 12px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
.header a{
	color: #fff;
	text-decoration: none;
}
.header a:hover{
	border-bottom: 1px solid #fff;
}
.header hgroup {
	display: inline-block;
	vertical-align: middle;
	width: 47%;
}
aside {
	text-align: center;
	padding: 20px;
}
.wrap{
	max-width: 940px;
	margin: 0 auto;
}
.name{
	font-size: 32px;
	display: inline-block;
}
.logo {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 2%;
	width: 16%;
	vertical-align: middle;
	max-width: 200px;
}
.contact-list {
	display: inline-block;
	vertical-align: middle;
	width: 33%;
}
.contact-list span {
	width: 30%;
	display: inline-block;
	line-height: 24px;
	text-align: right;
	padding-right: 5%;
}
.content-section{
	max-width: 940px;
	margin: 0 auto;
	padding: 20px 10px 0;
}
.main-menu{
	margin-bottom: 20px;
	font-size: 0;
}
.main-menu a{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	margin-left: 2%;
	padding: 3% 4%;
	width: 32%;
}
.main-menu a:hover{
	background: #C4C4C4;
	-webkit-transition: background 500ms ease;
	-moz-transition: background 500ms ease;
	-ms-transition: background 500ms ease;
	-o-transition: background 500ms ease;
	transition: background 500ms ease;
}
ul ul{
	padding-left: 20px;
}
ul li:before{
	content:'';
	display: inline-block;
	padding-right: 5px;
}
li pre{
	display: inline-block;
	vertical-align: top;
}
.circle-list li:before{
	content:'•';
}
.star-list li:before{
	content:'*';
}
a.resume{
	background: #7d499d;
	margin-left: 0;
}
.portfolio{
	background: #00aeef;
}
.experience{
	background: #8ec63f;
}
.content-section article{
	padding: 30px;
	margin-bottom: 30px;
}
.content-section a{
	color: #ff0;
}
.content-section a:hover{
	text-decoration: none;
}
#summary{
	background: #7d499d;
}
#portfolio{
	background: #00aeef;
}
#experience{
	background: #8ec63f;
}
#experience h3 {
	text-transform: uppercase;
}
small{
	font-size: 14px;
}
.liveinternet{
	position: absolute;
	text-indent: -999em;
}

@media screen and (max-width: 940px) {
	body {
		font-size: 18px;
	}
	.logo {
		width: 30%;
		max-width: 150px;
	}
	.header hgroup {
		width: 60%;
	}
	.contact-list {
		display: block;
		margin-top: 1em;
		width: auto;
	}
	.content-section article {
		padding: 1em;
	}

}
@media screen and (max-width: 460px) {
	.main-menu a {
		display: block;
		margin: 0;
		padding: 1em;
		width: 100%;
	}

}
