@import "datepicker3.css";

.popular-city-list{
	width: 100%;
	height: 222px;
	overflow: hidden;
}

.show-more-popular{
	cursor: pointer;
}

.wrap-show-more{
	text-align: right;
}


.select-region{
	cursor: pointer;
}

